#!/usr/bin/env bash

set -eo pipefail

export SETTING_NAME="{{ setting_name }}"
export BACKUP_BASE_DIR="{{ backup_base_dir }}"
export BACKUP_DATA_DIR="{{ backup_data_dir }}/{{ setting_name }}"
export BASE_DIR="{{ setting.chdir | default(backup_data_dir + '/' + setting_name) }}"
{% if setting.environment is defined -%}

### 環境変数の設定
{% for var_name, var_value in setting.environment.items() -%}
export {{ var_name }}="{{ var_value }}"
{% endfor %}
{% endif %}

cd "${BASE_DIR}"

{% if setting.command is defined -%}
## バックアップ処理
## ---------------------------------

{{ setting.command }}

{% endif %}
{% if setting.restic is defined %}
cd "${BASE_DIR}"

## バックアップデータの世代管理
## ---------------------------------
{% set restic_setting = setting.restic -%}
{% set restic_backup_target = restic_setting.target | default(backup_data_dir + '/' + setting_name) -%}
{% set restic_repo_type = restic_setting.repo_type | default(backup_restic_default_repo_type) | lower %}
{% set restic_repo = restic_setting.repo | default(backup_repo_dir + '/' + setting_name) -%}
{% if restic_repo_type != 'local' -%}
{% set restic_repo = restic_repo_type + ':' + restic_repo -%}
{% endif %}
### リポジトリ
export RESTIC_REPOSITORY="{{ restic_repo }}"
{% if restic_setting.repo_password is defined -%}
### リポジトリのパスワード
export RESTIC_PASSWORD="{{ restic_setting.repo_password }}"
{% endif %}
### リポジトリのチェック及び初期化
{% set restic_init_options = backup_restic_init_common_options | default([]) %}
{% if setting.init_options is defined -%}
{% set restic_init_options = restic_init_options + setting.init_options %}
{% endif %}
restic check || restic init {{ restic_init_options | join(' ') }}

### スナップショットの作成
{% set restic_backup_options = restic_backup_common_options | default([]) -%}
{% if restic_setting.backup_options is defined -%}
{% set restic_backup_options = restic_backup_options + restic_setting.backup_options -%}
{% endif %}
{% set restic_backup_target = setting.target | default(backup_data_dir + '/' + setting_name) -%}
restic backup "{{ restic_backup_target }}" {{ restic_backup_options | join(' ') }}

### スナップショットのクリーンアップ
{% set restic_forget_options = backup_restic_forget_common_options | default([]) %}
{% set restic_keep_type = restic_setting.keep_type | default(backup_restic_default_keep_type) -%}
{% set restic_keep_value = restic_setting.eep_value | default(backup_restic_default_keep_value) | string -%}
{% set restic_keep_param = '--keep-' + restic_keep_type + ' ' + restic_keep_value -%}
{% set restic_forget_options = restic_forget_options + [restic_keep_param] %}
restic forget {{ restic_forget_options | join(' ') }}
{% endif %}
